{% extends 'base.html.twig' %}

{% block title %}Editer l'Adresse{% endblock %}

{% block body %}
    <div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3>Editer l'Adresse</h3>
                            </div>
                            <div class="content">
                                {{ include('adresse/_form.html.twig', {'button_label': 'Modifier'}) }}
                                <a class="btn btn-border-fill btn-block mt-2" href="{{ path('adresse_index') }}">Retour à mon compte</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
