{% extends 'base.html.twig' %}

{% block title %}Condition Générales d'Utilisation{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">Condition Générales d'Utilisation du site Village Green</h1>
    <div class="col-12">
        <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras aliquet massa a sollicitudin malesuada. In luctus pellentesque facilisis.
            Maecenas ultricies, ipsum et semper vestibulum, neque dui malesuada tortor,
            et fringilla orci turpis in nunc. Nullam rutrum, quam a ultricies mollis,
            tortor sapien fringilla quam, vitae aliquam ligula mauris eget sem.
            Phasellus nec rutrum ligula. Pellentesque eu ex vitae quam hendrerit ultrices
            ac a erat. Suspendisse suscipit ligula metus, in semper magna euismod quis.
            Ut at turpis dui. Nam arcu orci, hendrerit eget erat a, mattis consectetur elit.
            Nullam gravida eleifend ex ac pulvinar. Suspendisse sodales tellus at suscipit
            vestibulum. Curabitur auctor hendrerit nisi, vitae iaculis nisi aliquam cursus.
            Nam consectetur odio nec tellus porttitor, at faucibus purus imperdiet.
        </p>
    </div>
{% endblock %}
